:root {
    --clr-text: #1f1a38;
    --clr-background: #f9f5ff;
    --clr-primary: #5f1dc9;
    --clr-secondary: #62d081;
    --clr-accent: #f7d673;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2 {
    font-family: "Karantina", system-ui;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.25rem;
    font-weight: 400;
}