.logo img {
    width: 70px;
    border-radius: 5rem;
}

.logo {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    /* justify-content: center; */
}

.logo p {
    font-size: 2rem;
    line-height: 2rem;
}

.logo p i {
    font-weight: lighter
}

.nav {
    width: 45%;
    align-items: center;
}