.card {
    background-color: var(--clr-background);
    padding: 1rem;
    border-radius: 1rem;
    flex-shrink: 0;
}

.card.inside {
    padding: .5rem;
    border-radius:.5rem;
}

.card.primary {
    background-color: var(--clr-primary);
}
.card.accent {
    background-color: var(--clr-accent);
}