.card {
    background-color: var(--clr-background);
    color: var(--clr-text);
    padding: 1rem;
    border-radius: 1rem;
    flex-shrink: 0;
}

.card.inside {
    padding: .5rem;
    border-radius:.5rem;
}

.card.primary {
    background-color: var(--clr-primary);
    color: var(--clr-background)
}
.card.accent {
    background-color: var(--clr-accent);
}